1. Given 6 days, on day one you had rice, day two you had beans, day three you had eggs, day four you had cakes, day five you had soup, and day six you had fruits.

1a. repesent this data in python using the correct data structure/type.
1b. use this data to create a pandas series.
1c. display the series from fourth day to the last day

In [12]:
import pandas as pd

days_Given = {'day 1': "rice", 'day 2':"beans", 'day 3': "eggs", 'day 4': "cakes", 'day 5': "soup", 'day 6': "fruits"}
days_Given_Series = pd.Series(days_Given)
days_Given_Series

print(days_Given_Series[3:])

day 4     cakes
day 5      soup
day 6    fruits
dtype: object

2a. create two arrays of random number between 1 and 4 with a length of 10 values 2b. use both arrays to create a pandas series 2c. perform the following arithmetic operations on both arrays using addition, multiplication, division and subtraction

In [23]:
import numpy as np
import pandas as pd
from ast import operator
from numpy import identity

arr1 = np.random.randint(1,4, size=(10))
arr2 = np.random.randint(1,4, size=(10))
arr_Series = pd.Series(arr1, arr2)
# print(arr_Series)

print(arr1 + arr2)
print(arr1 * arr2)
print(arr1 - arr2)
print(arr1 / arr2)

[2 3 3 4 3 3 3 5 4 3]
[1 2 2 4 2 2 2 6 4 2]
[ 0  1 -1  0 -1  1  1 -1  0  1]
[1.         2.         0.5        1.         0.5        2.
 2.         0.66666667 1.         2.        ]

3a. you have 6 days, create a dataframe using a list of days as the column, and also a list of what you did during those days

In [4]:
import pandas as pd
Data = ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6']
Activities = ['Studying', 'Coding', 'Laughing', 'Fornicating', 'Sleeping', 'Playing']
df = pd.DataFrame(Activities, Data)
df

#mergelist = list(zip(Data, Activities))

                 0
Day 1     Studying
Day 2       Coding
Day 3     Laughing
Day 4  Fornicating
Day 5     Sleeping
Day 6      Playing

4a. create a csv file to show what maximum of 10 persons like and dislikes, with a dataset including the following criterias, a. name b. gender c. age d. country e. likes f. dislikes

hence your likes and dislikes should include random text such as a. football b. singing c. dancing d. coding

4b. create a dataframe with this data using pandas 4c. analyse the dataset with pandas by filtering the data by people who like just football 4d. repeat the process by filtering the people who dislike football as well 4e. print out a nice statement dynamically with python as follows with all the person that like and dislikes football eg. 'Precious likes football', 'James dislikes football'

In [3]:
import pandas as pd
import numpy as np
Persons = {'Name':["Brighten", "Precious", "Jessica", "Favour", "Esereghi", "Austin", "Comfort", "Joy", "Ade", "Naomi"],
        'Gender':["Male", "Male", "Female", "Female", "Female", "Male", "Female", "Female", "Male", "Female",],
        'Age' :[20,33,22,19,33,18,30,27,50,23],
        'Country':["Nigeria", "France", "Cameroon", "Germany", "England", "Ghana", "Mali", "Kenya", "Uganda", "Canada"],
        'Likes':['football', 'coding', 'singing', 'dancing', 'singing', 'dancing', 'coding', 'dancing', 'football', 'dancing'],
        'Dislikes':['dancing', 'singing', 'football', 'coding', 'coding', 'football', 'singing', 'dancing', 'singing', 'coding']}

df = pd.DataFrame(Persons)
#df.to_csv("")
print(df)

df.loc[[0,8]]

df.loc[[2,5]]
print('Brighten likes football')
print('Ade likes football')
print('Jessica dislikes football')
print('Austin dislikes football')

       Name  Gender  Age   Country     Likes  Dislikes
0  Brighten    Male   20   Nigeria  football   dancing
1  Precious    Male   33    France    coding   singing
2   Jessica  Female   22  Cameroon   singing  football
3    Favour  Female   19   Germany   dancing    coding
4  Esereghi  Female   33   England   singing    coding
5    Austin    Male   18     Ghana   dancing  football
6   Comfort  Female   30      Mali    coding   singing
7       Joy  Female   27     Kenya   dancing   dancing
8       Ade    Male   50    Uganda  football   singing
9     Naomi  Female   23    Canada   dancing    coding
Brighten likes football
Ade likes football
Jessica dislikes football
Austin dislikes football

5. Apperantely given the data structure below, an error was found, the coutries are supposed to be ranked alphabetically by thier keys. as the values of each countries are ordered alphabetically.
 
a. your task is to create a dataframe with this dictionary. 
NOTE: DO NOT MODIFY THE DICTIONARY
b. correctly re-arrange the keys alphabetically in their correct irder

countries = {
    'third': ['America', 'Australia'],
    'first': ['Italy', 'India'],
    'second': ['Nigeria', 'New Zealand']
}

In [4]:
Countries={'third': ['America', 'Australia'], 'first': ['Italy', 'India'], 'second': ['Nigeria', 'New Zealand']}
 
#df = pd.DataFrame(Countries)
#df

sorted(Countries.items())

[('first', ['Italy', 'India']),
 ('second', ['Nigeria', 'New Zealand']),
 ('third', ['America', 'Australia'])]

6. Create a dataframe showing the scores and average score for jessica, bright and greatman in the following subjects, Maths, English and Physics. you are to use the exact procedures below to achieve this
a. the scores and average scores for each subject should be between 50 and 100 b. this scores are to be generated with numpy c. clearly display the subject on the correct column and the index using the names of the 3 student d. assuming a new student came on board, create a fresh dataframe for this student by name bob using the same process as follows by jessica, bright and greatman e. add these two dataframes together, NOTE: bob should come last d. sort these dataframe by the average score f. group this dataset by student who are above and below the average score of 60

In [17]:
import numpy as np
import pandas as pd
Scores = {'Maths': [60, 70, 80], 'English': [50, 70, 70], 'Physics': [70, 50, 80]}
df = pd.DataFrame(Scores)
#df
Scores_new = {'Maths': [50], 'English': [70], 'Physics': [60]}

df2 = pd.DataFrame(Scores_new)
df=pd.DataFrame(Scores, index = ['jessica', 'brighten', 'greatman', ])
df2=pd.DataFrame(Scores_new, index = ['bob'])
result = df.append(df2)
display(result)
df3 = df.mean()
df3
#group_mean=df.group.by('mean')

          Maths  English  Physics
jessica      60       50       70
brighten     70       70       50
greatman     80       70       80
bob          50       70       60

Maths      70.000000
English    63.333333
Physics    66.666667
dtype: float64

7. work with csv files NOTE: find this dataset in the github repo: All_Diet.csv
A dataset of diets and recipes

About this dataset Do you want to nourish your body in the best and healthiest way possible? If so, then this dataset is for you! It consists of recipes from different diets and cuisines, all of which are aimed at providing healthy and nutritious meal options. The dataset includes information on the macronutrients of each recipe, as well as the extraction day and time. This makes it an incredibly valuable resource for those interested in following a healthy diet, as well as for researchers studying the relationship between diet and health. So what are you waiting for? Start exploring today!

How to use the dataset This dataset can be used to find healthy and nutritious recipes from different diets and cuisines. The macronutrient information can be used to make sure that the recipes fit into a healthy diet plan. The extraction day and time can be used to find recipes that were extracted recently or to find recipes that have been extracted on a particular day

Research Ideas This dataset can be used to create a healthy meal plan for those interested in following a nutritious diet. This dataset can be used to study the relationship between diet and health. This dataset can be used to create healthy recipes that are suitable for different diets and cuisines

TASK a. read this dataset using pandas b. we dont care about the extraction_day and extraction_time, do not display this in the dataframe NOTE: DO NOT MODIFY THE DATASET FROM THE CSV FILE c. check the memory usage of this dataset, reduce the bandwidth in any possible way you can d. display the first five and last five data in the dataframe e. randomly display some part of the data in the dataframe

In [5]:
import pandas as pd

df = pd.read_csv("python-libraries/Numpy-pandas-matplotlib-course-files/All_Diets.csv")
#print(df)
df.drop(['Extraction_day', 'Extraction_time'], axis=1)

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g)
0,paleo,Bone Broth From 'Nom Nom Paleo',american,5.22,1.29,3.20
1,paleo,"Paleo Effect Asian-Glazed Pork Sides, A Sweet ...",south east asian,181.55,28.62,146.14
2,paleo,Paleo Pumpkin Pie,american,30.91,302.59,96.76
3,paleo,Strawberry Guacamole recipes,mexican,9.62,75.78,59.89
4,paleo,"Asian Cauliflower Fried ""Rice"" From 'Nom Nom P...",chinese,39.84,54.08,71.55
5,paleo,Paleo Shrimp-Stuffed Mushrooms recipes,mediterranean,68.62,34.15,42.44
6,paleo,Paleo Pumpkin Pie recipes,american,30.03,275.88,97.68
7,paleo,Autoimmune Paleo Pesto,italian,4.25,14.15,72.90
8,paleo,Baked Banana Chip Encrusted French Toast,french,152.88,1874.52,385.80
9,paleo,Vietnamese Pho Pressure Cooker (Noodle Soup),south east asian,602.91,274.87,400.01
10,paleo,Paleo Collard Burrito,mexican,44.62,28.66,78.46
11,paleo,Paleo Chawanmushi (Savory Egg Custard) recipes,american,61.43,13.29,24.60
12,paleo,‘paleo' banana bread,american,46.69,192.54,156.48
13,paleo,Leftover Turkey Sandwich recipes,american,54.09,34.97,14.10
14,paleo,Paleo Pumpkin Waffles,american,51.24,89.63,78.38
15,paleo,Fudgy Paleo Brownies,french,64.29,263.65,176.36
16,paleo,Magic Wings recipes,american,320.76,28.36,252.82
17,paleo,Turkey Club Sandwich,american,46.92,39.94,19.60
18,paleo,Easy Paleo Meatloaf,american,185.99,47.82,260.64
19,paleo,Paleo Crepes,french,15.73,15.91,49.16
20,paleo,Chocolate Pecan Pie recipes,american,59.86,567.39,320.76
21,paleo,Simple Crab Salad recipes,american,82.10,4.75,20.24
22,paleo,Chocolate Pecan Pie,american,54.70,503.39,320.12
23,paleo,Asian Meatballs recipes,indian,167.07,55.11,210.14
24,paleo,Blueberry French Toast Casserole,french,78.59,290.10,84.95
25,paleo,Paleo Spanish Rice,mediterranean,28.67,64.13,37.71
26,paleo,Whole30® Sriracha,south east asian,12.16,85.78,2.91
27,paleo,Banana Cream Pie,american,17.85,215.69,304.25
28,paleo,Spicy Salmon Cucumber Bites recipes,nordic,49.84,17.20,75.62
29,paleo,Blueberry French Toast Casserole recipes,french,78.59,290.10,84.95
...,...,...,...,...,...,...
7776,dash,Mango and Quinoa Chopped Salad with Ancho-Mang...,south american,75.39,362.92,18.19
7777,dash,Spinach & Feta Squash Quiche,mediterranean,53.45,54.58,61.72
7778,dash,Pomegranate Americano Recipe,french,0.09,7.44,0.16
7779,dash,Fresh Ginger Cake with Candied Citrus Glaze,american,65.37,787.82,181.09
7780,dash,Bloody Mary recipes,world,1.20,6.82,0.43
7781,dash,Pimento Cheese Sandwiches,american,137.16,27.73,516.80
7782,dash,Black Bean and Mushroom Vegetarian Meatless Balls,french,94.86,274.81,39.33
7783,dash,Manhattan,world,0.03,2.95,0.01
7784,dash,Neelys Egg Benedict on a Pork Croquette,italian,165.34,209.29,431.44
7785,dash,No Man's Land,world,0.05,15.26,0.03
7786,dash,Brown Butter-Sunchoke Soup With Brussels Sprou...,italian,85.20,288.14,137.15
7787,dash,Make-Your-Own-Salad,american,141.98,123.18,323.50
7788,dash,Luis Buñuel Dry Martini,world,0.01,0.39,0.00
7789,dash,Cornflake Semi-Fried Chicken Tenders,american,155.38,239.88,260.84
7790,dash,Emeril's Classic Manhattan,american,0.02,0.83,0.00
7791,dash,Mango and Quinoa Chopped Salad with Ancho-Mang...,south american,75.39,362.92,18.19
7792,dash,Spinach & Feta Squash Quiche,mediterranean,53.45,54.58,61.72
7793,dash,Pomegranate Americano Recipe,french,0.09,7.44,0.16
7794,dash,Fresh Ginger Cake with Candied Citrus Glaze,american,65.37,787.82,181.09
7795,dash,Bloody Mary recipes,world,1.20,6.82,0.43
7796,dash,Pimento Cheese Sandwiches,american,137.16,27.73,516.80
7797,dash,Black Bean and Mushroom Vegetarian Meatless Balls,french,94.86,274.81,39.33
7798,dash,Manhattan,world,0.03,2.95,0.01
7799,dash,Neelys Egg Benedict on a Pork Croquette,italian,165.34,209.29,431.44
7800,dash,No Man's Land,world,0.05,15.26,0.03
7801,dash,Brown Butter-Sunchoke Soup With Brussels Sprou...,italian,85.20,288.14,137.15
7802,dash,Make-Your-Own-Salad,american,141.98,123.18,323.50
7803,dash,Luis Buñuel Dry Martini,world,0.01,0.39,0.00
7804,dash,Cornflake Semi-Fried Chicken Tenders,american,155.38,239.88,260.84
7805,dash,Emeril's Classic Manhattan,american,0.02,0.83,0.00

In [6]:
import pandas as pd
df = pd.read_csv("python-libraries/Numpy-pandas-matplotlib-course-files/All_Diets.csv")
df.info(verbose=False, memory_usage='deep')

new_df= df[['Diet_type', 'Recipe_name']]
new_df.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7806 entries, 0 to 7805
Columns: 8 entries, Diet_type to Extraction_time
dtypes: float64(3), object(5)
memory usage: 2.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7806 entries, 0 to 7805
Columns: 2 entries, Diet_type to Recipe_name
dtypes: object(2)
memory usage: 1.1 MB

In [9]:
df

df.head(5)

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g),Extraction_day,Extraction_time
0,paleo,Bone Broth From 'Nom Nom Paleo',american,5.22,1.29,3.20,2022-10-16,17:20:09
1,paleo,"Paleo Effect Asian-Glazed Pork Sides, A Sweet ...",south east asian,181.55,28.62,146.14,2022-10-16,17:20:09
2,paleo,Paleo Pumpkin Pie,american,30.91,302.59,96.76,2022-10-16,17:20:09
3,paleo,Strawberry Guacamole recipes,mexican,9.62,75.78,59.89,2022-10-16,17:20:09
4,paleo,"Asian Cauliflower Fried ""Rice"" From 'Nom Nom P...",chinese,39.84,54.08,71.55,2022-10-16,17:20:09

In [10]:
df

df.tail(5)

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g),Extraction_day,Extraction_time
7801,dash,Brown Butter-Sunchoke Soup With Brussels Sprou...,italian,85.20,288.14,137.15,2022-10-16,20:40:44
7802,dash,Make-Your-Own-Salad,american,141.98,123.18,323.50,2022-10-16,20:40:44
7803,dash,Luis Buñuel Dry Martini,world,0.01,0.39,0.00,2022-10-16,20:40:44
7804,dash,Cornflake Semi-Fried Chicken Tenders,american,155.38,239.88,260.84,2022-10-16,20:40:44
7805,dash,Emeril's Classic Manhattan,american,0.02,0.83,0.00,2022-10-16,20:40:44

In [13]:
df

df = df.sample(n=5)
df

       Cuisine_type  Fat(g) Extraction_time Extraction_day  Protein(g)
7597          world    0.95        20:39:23     2022-10-16        1.06
296   mediterranean  686.90        17:22:38     2022-10-16      677.22
5191  mediterranean   21.02        16:48:24     2022-10-16       16.26
6464         french    9.58        20:31:51     2022-10-16        6.54
3248        mexican   53.09        18:01:44     2022-10-16       31.11